.card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 5px;
  border-radius: 30px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card > img {
  object-fit: cover;
  width: 100%;
}
.img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 30px;
  height: 300px;
}

.name {
  display: flex;
  margin-left: 30px;
}
.cardDetails {
  display: flex;
  flex-direction: row;
}
