@media (max-width: 480px) {
  .hero {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .hero_image {
    position: absolute;
    /* width: 100%; */
    right: 0px;
    max-height: 560px;
  }

  .hero_headline {
    position: absolute;
    font-size: 5rem;
    top: 50px;
    left: 10px;
    z-index: 2;
    font-family: 'IM Fell French Canon', serif;
    font-weight: 400;
    font-style: italic;
  }

  .hero_subheadline {
    margin: auto;
    width:100%;
    position: absolute;
    font-size: 2rem;
    bottom: 80px;
    z-index: 2;
    text-align: center;
  }

  .button {
    display: block;
    position: absolute;
    width: 150px;
    border-radius: 50px;
    background: rgb(0, 169, 128);
    padding: 10px 25px;
    color: white;
    align-items: center;
    border: none;
  }

  .link {
    text-decoration: none;
  }

  .arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: rotate(45deg);
    cursor: pointer;
  }

  .arrow span {
    position: absolute;
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 5px solid rgb(33, 133, 73);
    border-right: 5px solid rgb(33, 133, 73);
    margin: -10px;
    animation: animate 2s infinite;
  }

  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(0deg) translate(-10px, -10px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(0deg) translate(10px, 10px);
    }
  }

  .oval_shape {
    position: absolute;
    max-height: 300px;
    height: 30%;
    width: 90%;
    right: 0px;
    bottom: 0px;
    border-radius: 50% 50% 0% 100% / 100% 0% 100% 0%;
    border: 2px solid rgb(102, 184, 156, 0.5);
    z-index: -1;
    overflow: none;
    border-right: none;
    border-bottom: none;
  }
}

@media (max-width: 600px) {
  /* … */
}
@media (max-width: 834px) {
  /* … */
}
@media (max-width: 960px) {
  /* … */
}
@media (max-width: 960px) {
  /* … */
}
@media (max-width: 1280px) {
  /* … */
}

/* .hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.heroImage {
  width: 100vw;
  top: -50px;
  object-fit: cover;
}

#heroHeading {
  position: absolute;
  top: 75px;
  margin-left: 8px;
  font-size: 70px;
  color: rgb(30, 138, 96);
}



.svg1 {
  position: absolute;
  top: 30px;
}
.svg2 {
  position: absolute;
  top: 700px;
}

.heroText {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100vh - 100vw);
}

.heroText * {
  margin-bottom: 20px;
}

.button {
  display: block;
  width: 100px;
  border-radius: 50px;
  background: rgb(0, 169, 128);
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  align-items: center;
}

.button:hover {
  background-color: rgb(6, 112, 85);
} */
