#hero_headline {
  position: absolute;
  font-size: 4rem;
  top: 30px;
  z-index: 2;
}

@media (max-width: 480px) {
  .hero {
    position: absolute;
    height: 800px;
    width: 100%;
  }

  .hero_image {
    position: absolute;
    height: auto;
    width: 100%;
    right: 0px;
  }

  #hero_headline {
    position: absolute;
    font-size: 5rem;
    top: 70px;
    left: 10px;
    z-index: 2;
  }

  .hero_subheadline {
    position: absolute;
    font-size: 2rem;
    bottom: 50px;
    left: 10px;
    z-index: 2;
  }

  .button {
    display: block;
    position: absolute;
    width: 150px;
    border-radius: 50px;
    background: rgb(0, 169, 128);
    padding: 10px 25px;
    color: white;
    align-items: center;
    border: none;
  }
  .link {
    text-decoration: none;
  }

  .go_to{
    width: 100%;
    height: 2vw;
  }

  .arrow {
    position: absolute;

    bottom: 10px;
    left: 50%;
    transform: rotate(45deg);
    cursor: pointer;
  }

  .arrow span {
    position: absolute;
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 5px solid rgb(33, 133, 73);
    border-right: 5px solid rgb(33, 133, 73);
    margin: -10px;
    animation: animate 2s infinite;
  }

  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(0deg) translate(-15px, -15px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(0deg) translate(15px, 15px);
    }
  }
}

@media (max-width: 600px) {
  /* … */
}
@media (max-width: 834px) {
  /* … */
}
@media (max-width: 960px) {
  /* … */
}
@media (max-width: 960px) {
  /* … */
}
@media (max-width: 1280px) {
  /* … */
}

/* .hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.heroImage {
  width: 100vw;
  top: -50px;
  object-fit: cover;
}

#heroHeading {
  position: absolute;
  top: 75px;
  margin-left: 8px;
  font-size: 70px;
  color: rgb(30, 138, 96);
}

.pinkShadow {
  width: 300px;
  height: 600px;
  background-image: -o-radial-gradient(circle, pink, transparent 150px);
  background-image: -moz-radial-gradient(circle, pink, transparent 150px);
  background-image: -webkit-radial-gradient(circle, pink, transparent 150px);
  background-repeat: no-repeat;
  z-index: 3;
}

.svg1 {
  position: absolute;
  top: 30px;
}
.svg2 {
  position: absolute;
  top: 700px;
}

.heroText {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100vh - 100vw);
}

.heroText * {
  margin-bottom: 20px;
}

.button {
  display: block;
  width: 100px;
  border-radius: 50px;
  background: rgb(0, 169, 128);
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  align-items: center;
}

.button:hover {
  background-color: rgb(6, 112, 85);
} */
