@media (max-width: 480px) {
  .hero {
    height: 700px;
    width: 360px;
    margin: 0;
    background-image: url('../../../public/images/plant-in-pot.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero_image {
    width: 100vw;
    height: 500px;
    z-index: -1;
  }

  #hero_headline {
    font-size: 5rem;
  }

  .hero_subheadline {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  /* … */
}
@media (max-width: 834px) {
  /* … */
}
@media (max-width: 960px) {
  /* … */
}
@media (max-width: 960px) {
  /* … */
}
@media (max-width: 1280px) {
  /* … */
}

/* .hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.heroImage {
  width: 100vw;
  top: -50px;
  object-fit: cover;
}

#heroHeading {
  position: absolute;
  top: 75px;
  margin-left: 8px;
  font-size: 70px;
  color: rgb(30, 138, 96);
}

.pinkShadow {
  width: 300px;
  height: 600px;
  background-image: -o-radial-gradient(circle, pink, transparent 150px);
  background-image: -moz-radial-gradient(circle, pink, transparent 150px);
  background-image: -webkit-radial-gradient(circle, pink, transparent 150px);
  background-repeat: no-repeat;
  z-index: 3;
}

.svg1 {
  position: absolute;
  top: 30px;
}
.svg2 {
  position: absolute;
  top: 700px;
}

.heroText {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100vh - 100vw);
}

.heroText * {
  margin-bottom: 20px;
}

.button {
  display: block;
  width: 100px;
  border-radius: 50px;
  background: rgb(0, 169, 128);
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  align-items: center;
}

.button:hover {
  background-color: rgb(6, 112, 85);
} */
