.form {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  width: 600px;
  height: 350px;
}

.image {
  display: flex;
  flex-direction: column;
  position: relative;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 50%;
  border-radius: 25px 0px 0px 25px;
  background-color: pink;
}
.imageDropDown {
  height: 100%;
}

.subForm {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 50%;
}

.label {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  border-bottom-color: rgb(57, 117, 81);
}

.button {
  margin-top: 10px;
  border: 1px solid rgb(135, 171, 148);
  border-radius: 50px;
  height: 30px;
  background-color: rgb(151, 187, 165);
  color: white;
}
