.form {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  width: 700px;
  height: 450px;
}

.image {
  display: flex;
  flex-direction: column;
  position: relative;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 50%;
  border-radius: 10px 0px 0px 10px;
  background-color: pink;
}
.imageDropDown {
  height: 100%;
}

.subForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 50%;
  border-radius: 0px 10px 10px 0px;
  justify-content: space-between;
}

.label {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  border-bottom-color: rgb(57, 117, 81);
}

.button {
  margin-top: 10px;
  border: 1px solid rgb(135, 171, 148);
  border-radius: 50px;
  height: 30px;
  background-color: rgb(151, 187, 165);
  color: white;
}

.watering {
  width: fit-content;
  border: 1px solid #666;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.watering input {
  display: none;
}

.watering label {
  font-family: sans-serif;
  padding: 10px 10px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s;
}
.watering label:last-of-type {
  border-right: 0;
}
.watering label:hover {
  background: #eee;
}
.watering input:checked + label {
  background: #becbff;
}
